################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Builder/v16
/obj/Debug
/bin/Debug
/obj
